.header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    position:sticky;
    top:0px;
    z-index:100;
    background-color:white;
}
.header_logo{
    height:25px;
    object-fit:contain;
    margin-left:20px;
}
.header_input{
    display:flex;
    align-items: center;
    width:40%;
    
    border:1px solid lightgrey;
}
.input{
    height:30px;
}
.header_input input{
    flex:1;
}
.header_icons{
    display: flex;
    align-items:center;
    
    
}
.search_button{
    width:50px;
    background-color:#fafafa;
    border-left:1px solid lightgray;
    text-align:center;
}
.icon{
    margin-right:20px;
}
.icon:hover{
    color:red;
}


